<div class="wraper">
    <div class="heading-wraper">
        <h1>Create Guild</h1>
    </div>

    <div class="form-wraper">
        <form [formGroup]="addGuild">
            <mat-form-field appearance="fill">
                <input appFocus matInput placeholder="Guild Name" formControlName="guildName" />
                <mat-error *ngIf="this.guildName.invalid && this.guildName.touched">
                    This field is mandatory
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input matInput placeholder="Account Name" formControlName="guildAcc" />
                <mat-error *ngIf="this.guildAcc.invalid && this.guildAcc.touched">
                    This field is mandatory
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input matInput placeholder="Password" formControlName="guildPass" />
                <mat-error *ngIf="this.guildPass.invalid && this.guildPass.touched">
                    This field is mandatory
                </mat-error>
            </mat-form-field>

            <button class="submit-button" (click)="createGuildInfo()" [disabled]="addGuild.invalid">Submit</button>
        </form>
    </div>
</div>