<div class="wraper">

    <div class="heading-wraper">
        <h1>R E G I S T E R</h1>
    </div>

    <div class="form-wraper">
    <form [formGroup]="regForm">
        <mat-form-field>
            <input matInput placeholder="username" formControlName="username">
            <mat-error *ngIf="this.username.invalid && this.username.touched">
                username length incorrect
            </mat-error>
        </mat-form-field>

        <div>
            <mat-hint class="input-hint" *ngIf="this.username.invalid && this.username.touched">
                minimum 2 characters
            </mat-hint>
        </div>

        <mat-form-field>
            <input matInput type="password" placeholder="password" formControlName="password">

            <mat-error  *ngIf="this.password.invalid && this.password.touched">
                password length incorrect
            </mat-error>
   
        </mat-form-field>

            <div>
                <mat-hint class="input-hint" *ngIf="this.password.invalid && this.password.touched">
                    minimum 6 characters
                </mat-hint> 
            </div>

            <mat-form-field>
                <input matInput type="email" placeholder="email address" formControlName="email">
            </mat-form-field>
        <button mat-stroked-button class="submit-button" [disabled]="regForm.invalid" (click)="submitForm()">Submit</button>
    </form>
</div>
</div>
