<div >
    <!-- <div class="person-data">
        <div class="picture-container">
            <input type="file" id="selectedFile" style="display: none;" (change)="onFileSelected($event)" />
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <img style="position: absolute;"  [src]="imgURL" height="200" *ngIf="imgURL">
            <img class="add-img" src="https://img.icons8.com/clouds/100/000000/image.png" 
                onclick="document.getElementById('selectedFile').click()"
                title="Insert image"
             />
        </div>
        <div class="profile-email">Email: {{this.email}}</div>
    </div> -->
    
    <hr/>
    
    <div class="user-champions">
        
        <div class="champs-heading">
            <h1>C H A M P I O N S</h1>
            <img class="add-champion" title="Add Champion"
                src="https://img.icons8.com/doodle/64/000000/plus--v1.png"
                routerLink="/add-champion" 
            />
        </div>

        <div *ngIf="userChampions.length > 0" class="list-and-info-wrap">
            <div class="champ-list">
                <div *ngFor="let champ of this.userChampions" class="list-item">
                    <h3 (click)="selectChampion(champ)" class="list-item">{{champ.name}}</h3>
                </div>
            </div>
       
            <div class="champ-info">
                <app-champ *ngIf="selectedChampion" [selectedChampion]="selectedChampion"></app-champ>
            </div>
        </div>

        <h1 *ngIf="userChampions.length === 0">Make your first champion!</h1>
        
    </div>
        
    
</div>
