<div class="wraper">
    <!-- <div class="person-data">
        <div class="picture-container">
            <input type="file" id="selectedFile" style="display: none;" (change)="onFileSelected($event)" />
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <img style="position: absolute;"  [src]="imgURL" height="200" *ngIf="imgURL">
            <img class="add-img" src="https://img.icons8.com/clouds/100/000000/image.png" 
                onclick="document.getElementById('selectedFile').click()"
                title="Insert image"
             />
        </div>
        <div class="profile-email">Email: {{this.email}}</div>
    </div> -->
    
    <hr/>
    
    <div class="user-champions">
        
        <div class="champs-heading">
            <h1>C H A M P I O N S</h1>
            <img class="add-champion" title="Add Champion" 
                src="https://img.icons8.com/doodle/64/000000/plus--v1.png"
                routerLink="/add-champion" 
            />
        </div>

        <div class="container fluid mt-2 champs-container">
            <div class="row">
                <div class="col champ-container"  *ngFor="let champ of this.userChampions">
                    <div>
                        <button mat-raised-button color="primary" (click)="editChampion(champ.id)">Edit</button>
                        <!-- <h1>{{champ.id}}</h1> -->
                        <mat-icon (click)="deleteChampion(champ.id)">delete</mat-icon>
                        <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="enterGuild(champ.id)">Enter Guild</button>
                            <button mat-menu-item (click)="createGuild(champ.id)">Create Guild</button>
                        </mat-menu>
                    </div>
                    <h2>{{champ.name}}</h2>
                    <img src={{this.racePictureSelector[champ.gender][(champ.race).toLowerCase()]}} 
                    style="width: 60px; height: 60px;"/>
                    <p>{{champ.race}} {{champ.champClass}}</p>
                    <p>Level: {{champ.level}}</p>
                    <p>Primary professions:</p>
                    <div *ngIf="champ.primaryProfs; else noPrimary">
                        <div *ngFor="let prof of champ.primaryProfs | keyvalue">
                            <p>{{prof.key}}: {{prof.value}}</p>
                        </div>
                    </div>
                    <ng-template #noPrimary>none</ng-template>
                    
                    <p>Secondary professions:</p>
                    <div *ngIf="champ.secondaryProfs; else noSecondary">
                        <div *ngFor="let prof of champ.secondaryProfs | keyvalue">
                            <p>{{prof.key}}: {{prof.value}}</p>
                        </div>
                    </div>
                    <ng-template #noSecondary>none</ng-template>
                    
                    
                </div>
            </div>
        </div>
        
    
</div>
